.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 27px 56px;

  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $color-dark;

  background-color: $btn-bg-trans;
  border: none;
  box-shadow: inset 2px 2px 0 $btn-border-light, inset -2px -2px 0 $btn-border-light;
  cursor: pointer;

  transition: opacity $trans-default;

  @include vp-1365 {
    padding: 22px 0;
  }

  &--red {
    @include vp-1365 {
      padding: 22px 44px;
    }

    @include vp-767 {
      padding: 22px 47px;
    }
  }

  @include focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    color: $btn-color-add;
    background-color: $bg-color-light;
  }

  &:active:not(.focus-visible) {
    color: $color-light;
  }

  @include active {
    color: $color-light;
  }

  &--light {
    color: $color-light;
    box-shadow: inset 2px 2px 0 $btn-border-dark, inset -2px -2px 0 $btn-border-dark;

    &:disabled {
      opacity: 0.3;

      pointer-events: none;
    }

    @include hover-focus {
      color: $color-dark;
      background-image: $bth-bg-grad;
      outline: none;
      box-shadow: none;
    }

    @include active {
      color: $color-active;
    }

    &:active:not(.focus-visible) {
      color: $color-active;
    }
  }

  &--card {
    padding: 27px 44px;

    @include vp-767 {
      padding: 22px 44px;
    }
  }

  &--tab {
    padding: 18px 48px;
    color: $color-light;
    opacity: 1;
    background-color: $btn-bg-trans;
    border: 1px solid rgba($btn-border-dark, 0.2);
    box-shadow: none;

    &:hover,
    &:focus {
      background-color: $btn-bg-trans;
      border: 1px solid $btn-border-dark;
    }

    @include hover-focus {
      background-color: $btn-bg-trans;
      border: 1px solid $btn-border-dark;
    }

    &:active:not(.focus-visible) {
      color: $color-default-white;
      background-image: $red-to-blue;
      border: none;
    }

    @include active {
      color: $color-default-white;
      background-image: $red-to-blue;
      border: none;
    }

    &:disabled {
      opacity: 0.2;
    }

    @include vp-767 {
      padding: 14px 48px;
    }
  }
}
