.free {
  padding: 60px 103px;
  padding-right: 170px;
  color: $color-default-white;
  background-color: $bg-color-dark;

  @include vp-1365 {
    padding: 100px 133px;
  }

  @include vp-767 {
    padding: 70px 15px;
  }
}

.free__title {
  margin-bottom: 33px;
  text-align: left;
  color: $color-default-white;

  @include vp-1365 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 40px;
  }
}
